# Expo
.expo
.expo-shared
dist
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build

# Node
node_modules
npm-debug.log

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo
*~
.DS_Store

# TypeScript
*.tsbuildinfo

# Build
build
dist
.turbo
